.button {
    padding: 18px 30px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #384564;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}