.card {
    width: 220px;
    padding: 17px 0;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.457143px;
}

.blue {
    background: rgba(161, 177, 219, 0.317343);
    border: 1px solid rgba(85, 105, 158, 0.3);
    color: #55699E;
}

.yellow {
    background: rgba(255, 207, 0, 0.15);
    border: 1px solid #FFCF00;
    color: #988B49;
}