@import '../../styles/colors.scss';

.main {
    padding-top: 56px;
    padding-bottom: 150px;
    max-width: 1258px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left_side {
    max-width: 721px;
    width: 100%;
    position: relative;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba($color: $dark, $alpha: 0.13);
    margin-bottom: 40px;
}

.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.413333px;
    color: #3A4562;
}

.head_actions {
    display: flex;
    max-width: 264px;
    width: 100%;
    justify-content: space-between;
}

.share,
.favorite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    cursor: pointer;

    &:hover p {
        color: black;
    }
}

.favorite {
    width: 149px;
}

.share {
    width: 84px;
}

.action_text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.5625px;
    color: $dark;
}

.top_button {
    margin-bottom: 32px;
}

.job_title_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.job_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.75px;
    color: $dark;
    max-width: 500px;
    width: 100%;
}

.salary {
    max-width: 180px;
    width: 100%;

    &_rate {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.625px;
        color: $dark;
    }

    &_text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5625px;
        color: $dark;
    }
}

.posted {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: rgba(56, 65, 93, 0.355988);
    margin-bottom: 7px;
}

.description {
    padding-bottom: 40px;

    &_text {
        margin-bottom: 30px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5625px;
        color: $dark;
    }

    &_title {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.625px;
        color: $dark;
    }
}

.bottom_button {
    margin-bottom: 86px;
}

.info {
    margin-bottom: 60px;

    &_title {
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.413333px;
        color: $dark;
        padding-bottom: 9px;
        border-bottom: 1px solid rgba($color: $dark, $alpha: 0.13);
        margin-bottom: 15px;
    }

    &_block {
        &_title {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.5625px;
            color: $dark;
            margin-bottom: 10px;
        }

        &_container {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 16px;

            &_item {
                margin: 0 8px 8px 0;
            }
        }
    }
}

.images {
    &_title {
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.413333px;
        color: $dark;
        padding-bottom: 9px;
        border-bottom: 1px solid rgba($color: $dark, $alpha: 0.13);
        margin-bottom: 12px;
    }

    &_container {
        display: flex;

        &_item {
            width: 220px;
            height: 150px;
            margin: 0 8px 8px 0;
            border-radius: 8px;
            overflow: hidden;
        }
    }
}

.return_button {
    position: absolute;
    bottom: -90px;
    left: -100px;
}